.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
  margin: 0.5rem;
  padding: 0.5rem;
}

.box1:hover {
  transform: rotate(15deg);
}

.box2:hover {
  transform: scale(1.5);
}

.box3:hover {
  transform: skew(15deg);
}

.box4:hover {
  transform: translate(10px, 10px);
}

.box5:hover {
  transform: rotate(45deg) translate(50px) scale(1.5);
}
