.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
  margin: 0.5rem;
  padding: 0.5rem;
  transition: transform 1s;
}

.box:hover {
  transform: rotate(45deg);
}
